@{
    ViewData["Title"] = "Details";
}

@model SanPham


<div class="container">

    <div class="boxed">
        <div class="boxed-child">
            <form method="post" asp-action="Details">
                <div class="form-group">
                    <label asp-for="Name">Tên sản phẩm</label>
                    <input asp-for="Name" type="text" class="form-control" disabled />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Description">Mô tả</label>
                    <input asp-for="Description" type="text" class="form-control" disabled />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Price">Giá</label>
                    <input asp-for="Price" type="number" class="form-control" disabled />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="ImageUrl">Hình ảnh</label>
                    <input asp-for="ImageUrl" type="text" class="form-control" disabled />
                    <span asp-validation-for="ImageUrl" class="text-danger"></span>
                </div>

                <div class="form-group" style="margin-bottom:15px">
                    <label asp-for="TheLoaiId">Thể loại</label>
                    <select asp-for="TheLoaiId" asp-items="@ViewBag.DSTheLoai" class="form-control" disabled>
                        <option disabled>Chọn thể loại</option>
                    </select>
                    <span asp-validation-for="TheLoaiId" class="text-danger"></span>
                </div>

                <a asp-action="Index" class="btn btn-secondary">Quay lại</a>
            </form>
        </div>
    </div>

</div>

