<li>
    <a href="#">Categories</a>
    <ul class="header__menu__dropdown">
        @foreach ( var item in Model)
        {
            <li><a href="#">@item.Name</a></li>
        }
        

    </ul>
</li>